<h2>Contact me</h2>

<div class="{{ isSent }}">
  {{#if isSent}}
    <p>The message has been sent!</p>
    <p>Filename: {{ fileName }} has been saved!</p>
  {{/if}}
</div>
<div class="{{ isError }}">
  {{#if isError}}
    <p>You can't leave fields empty!</p>
  {{/if}}
</div>

<form action="/contact/send-message" method="POST" enctype="multipart/form-data">
  <label>
    Your name: <input type="text" name="author">
  </label>
  <label>
    Your email: <input type="email" name="sender">
  </label>
  <label>
    Title: <input type="text" name="title">
  </label>
    <label>
    Project design: <input type="file" name="design">
  </label>
   <label>
    Message: <textarea name="message"></textarea>
  </label>
  <button type="submit">Send message</button>
</form>